<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="165"  alt="Company Logo"  src="assets/logo.png"  />
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <!-- Highlight Card -->
            <div class="card highlight-card card-small">
              <span>{{ title }} App is running!</span>
              <svg id="rocket-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
                <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
              </svg>
            </div>
  <!-- Material Starts -->

          <div class="mat-title">Personal Detail Form</div>
<mat-card>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >

            <div class="card-container">
              <div class="row">

                <div class="col-md-3 form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Salute *</mat-label>
                    <mat-select  formControlName="salute">
                      <mat-option value="Mr.">Mr.</mat-option>
                      <mat-option value="Ms.">Ms.</mat-option>
                    </mat-select>
                    <mat-error class="mat-error"
                               *ngIf="(registerFormControl.salute.touched || submitted) && registerFormControl.salute.errors?.required">
                      Please select atleast  one option
                    </mat-error>
                  </mat-form-field>


                </div>


                <div class="col-md-9 form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>First Name *</mat-label>
                    <input matInput type="text" class="form-control" formControlName="fname">
                    <mat-error class="mat-error"
                          *ngIf="(registerFormControl.fname.touched || submitted) && registerFormControl.fname.errors?.required">
                               First Name is required
                            </mat-error>
                  </mat-form-field>&nbsp;

                  <mat-form-field class="pt-15" appearance="fill">
                    <mat-label>Middle Name *</mat-label>
                    <input matInput type="text" class="form-control" formControlName="mname" >
                    <mat-error class="mat-error"
                               *ngIf="(registerFormControl.mname.touched || submitted) && registerFormControl.mname.errors?.required">
                      Middle Name is required
                    </mat-error>
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field class="pt-15" appearance="fill">
                    <mat-label>Last Name *</mat-label>
                    <input matInput type="text" class="form-control" formControlName="lname">
                    <mat-error class="mat-error"
                               *ngIf="(registerFormControl.lname.touched || submitted) && registerFormControl.lname.errors?.required">
                      Last Name is required
                    </mat-error>
                  </mat-form-field>


                </div>

                <div class="col-md-3 form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Select Gender *</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option *ngFor="let gender of gender" [value]="gender.value">
                        {{gender.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error class="mat-error"
                               *ngIf="(registerFormControl.gender.touched || submitted) && registerFormControl.gender.errors?.required">
                      Please select atleast  one option
                    </mat-error>
                  </mat-form-field>


                </div>



                <div class="col-md-3 form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Marital Status *</mat-label>
                    <mat-select formControlName="mstatus">
                      <mat-option value="one">Married</mat-option>
                      <mat-option value="two">Single</mat-option>
                    </mat-select>
                    <mat-error class="mat-error"
                               *ngIf="(registerFormControl.mstatus.touched || submitted) && registerFormControl.mstatus.errors?.required">
                      Please select atleast  one option
                    </mat-error>
                  </mat-form-field>

                </div>


                <div class="col-md-6 form-group">
                  <mat-form-field appearance="fill">
                    <input matInput [matDatepicker]="picker" placeholder="Birthdate *"  formControlName="datep">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error class="mat-error"
                               *ngIf="(registerFormControl.datep.touched || submitted) && registerFormControl.datep.errors?.required">
                      Please select atleast  one option
                    </mat-error>
                  </mat-form-field>

                </div>



                <div class="col-md-3 form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Enter Valid Phone Number * </mat-label>
                    <input matInput type="number" class="form-control" formControlName="phone">
                    <mat-error class="mat-error"
                               *ngIf="(registerFormControl.phone.touched || submitted) && registerFormControl.phone.errors?.required">
                      Phone Number is required
                    </mat-error>
                  </mat-form-field>
                </div>



                <div class="col-md-3 form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Enter Valid Email *</mat-label>
                    <input matInput type="email" class="form-control" formControlName="email">
                    <mat-error class="mat-error"
                          *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                                Email is required
                            </mat-error>
                    <mat-error class="mat-error"
                          *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                                Enter a valid email address
                            </mat-error>
                  </mat-form-field>
                </div>



                <div class="col-md-6 form-group">
                        <mat-form-field appearance="fill">
                      <mat-label>Address *</mat-label>
                          <textarea matInput maxlength="256" placeholder="Enter Adddress Details"  matTextareaAutosize matAutosizeMinRows="2"
                                    matAutosizeMaxRows="5" type="text" class="form-control" formControlName="address"></textarea>
                          <mat-error class="mat-error"
                                     *ngIf="(registerFormControl.address.touched || submitted) && registerFormControl.address.errors?.required">
                            Address is required
                          </mat-error>
                        </mat-form-field>
                </div>



                <div class="col-md-3 form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Aadhar Card Number *</mat-label>
                    <input matInput type="number" class="form-control" formControlName="adhar">
                    <mat-error class="mat-error"
                               *ngIf="(registerFormControl.adhar.touched || submitted) && registerFormControl.adhar.errors?.required">
                      Aadhar Number is required
                    </mat-error>
                  </mat-form-field>
                </div>



                <div class="col-md-3 form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Pan Card Number *</mat-label>
                    <input matInput type="number" class="form-control" formControlName="pan">
                    <mat-error class="mat-error"
                               *ngIf="(registerFormControl.pan.touched || submitted) && registerFormControl.pan.errors?.required">
                      Pan Number is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6 form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Select Country *</mat-label>
                    <mat-select formControlName="country">
                      <mat-option value="one">1</mat-option>
                      <mat-option value="two">2</mat-option>
                      <mat-option value="three">3</mat-option>
                    </mat-select>
                    <mat-error class="mat-error"
                               *ngIf="(registerFormControl.country.touched || submitted) && registerFormControl.country.errors?.required">
                      Please select atleast  one option
                    </mat-error>
                  </mat-form-field>

                </div>


                <div class="col-md-3 form-group">
                        <mat-form-field appearance="fill">
                          <input matInput type="password" placeholder="Password *" class="form-control" formControlName="password">
                          <mat-error class="mat-error"
                                     *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                            Password is required
                          </mat-error>
                          <mat-error class="mat-error"
                                     *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword">
                            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                            letter and 1 number
                          </mat-error>
                        </mat-form-field>
                    </div>


                <div class="col-md-9 form-group">
                  <mat-form-field appearance="fill">
                    <input matInput type="password" placeholder="Confirm Password *" class="form-control" formControlName="confirmPassword">
                    <mat-error class="mat-error"
                          *ngIf="(registerFormControl.confirmPassword.touched || submitted) && registerFormControl.confirmPassword.errors?.required">
                                Password is required
                            </mat-error>
                    <mat-error class="mat-error"
                          *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.invalidPassword">
                                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number
                            </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-12 form-group">
                  <mat-checkbox appearance="fill" formControlName="check">
                    I accept terms and conditions
                  </mat-checkbox>

                </div>

                <div class="col-md-12 form-group">
                  <hr/>
                  <button mat-raised-button color='primary' type="submit">Submit Details</button>
                  <button mat-raised-button color='primary'>Next Page</button>
                </div>

              </div>

            </div>
              <hr/>
              {{registerForm.value | json}}
         </form>
</mat-card>

</div>

<router-outlet></router-outlet>
